<div class="container mt-5">
  <h1 class="text-center">Add a new flat</h1>

  <%= simple_form_for(@flat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

