<div class="container mt-3">

  <ul class="list-inline tabs-underlined">
    <li id="tab-flat" class="tab-underlined active">My flats</li>
    <li id="tab-booking" class="tab-underlined">My bookings</li>
  </ul>

  <div class="flats active">
    <%= render 'shared/flat_card' %>
  </div>

  <div class="bookings">
    <% @bookings.each do |booking| %>
      <%= link_to flat_path(booking.flat) do %>
        <hr>
        <div class="card-flat">
          <%= cl_image_tag booking.flat.photos.first.key %>
          <div class="card-flat-infos">
            <p><%= booking.flat.address %></p>
            <h2><%= booking.flat.name %></h2>
            <p>From <%= booking.start_date.strftime('%b %d, %Y') %> to <%= booking.end_date.strftime('%b %d, %Y') %> </p>
            <p><strong>Total price: £<%= booking.total_price %></strong></p>
            <% if booking.flat.average_rating %>
              <p><% booking.flat.average_rating.times do %>
                <i class="fas fa-star"></i>
              <% end %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
